<main>
    <form id="create-form" [formGroup]="formulario">
      <div class="sessao-conteudo">
        <label for="formControlName">Nome:</label>
        <input type="text" id="nome" formControlName="name">

        <label for="idade">Idade:</label>
        <input type="text" id="idade" formControlName="idade" >

        <label for="titulo">titulo(Graduação,Mestrado ou Doutor):</label>
        <input type="text" id="titulo" formControlName="titulo" >

        <label for="linha_de_pesquisa">linha de pesquisa:</label>
        <input type="text" id="linha_de_pesquisa" formControlName="linha_de_pesquisa" >
        

        <button type="submit" (click)="createAluno()">Criar</button>
      </div>

    </form>
  </main>
